* {
    margin: 0;
    padding: 0;
    font-family: "Georgia", sans-serif;
    box-sizing: border-box;
  }

  #main-container {
    overflow: hidden;
  }

  .section {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  }

  .section.visible {
    opacity: 1;
    transform: translateY(0);
  }
  
  .navbar {
    background-color: #31363f;
    width: 52%;
    margin: 0 auto;
    color: #eeeeee;
    padding: 10px;
    border-radius: 10px;
    top: 3rem;
  }
  
  #a-navbar {
    text-decoration: none;
    color: #eeeeee;
  }
  
  #h5-navbar {
    font-weight: normal;
  }
  
  .image {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    background-image: url("../images/mainPic.jpg");
  }
  
  #githubHover,
  #linkedinHover,
  #facebookHover {
    color: #76abae;
  }
  
  #githubHover:hover,
  #linkedinHover:hover,
  #facebookHover:hover {
    color: #76abae;
    transition: 0.5s;
  }
  
  #vertical-line {
    width: 6px;
    height: 70px; /* Adjust the height as needed */
    border-radius: 10px;
    background-color: #76abae; /* Adjust the color as needed */
  }

  #borderLine {
    height: 5px;
    width: 10px;
    border-bottom: 2px solid #76abae;
  }
  
  #projectCard {
    background-color: #31363f;
    padding: 10px;
  }
  
  #projectCard h3 {
    color: #76abae;
    font-weight: bolder;
  }
  
  #projectCard p {
    color: #eeeeee;
  }
  
  #projectCard:hover {
    background-color: #3e4451; /* Highlight color */
  }
  
  #github .btn {
    border-color: #76abae;
    color: #76abae;
    border-radius: 50px;
  }
  
  #github .btn:hover {
    transform: scale(1.05); /* Zoom out effect */
  }
  
  #LMSimg {
    width: 100%;
    height: auto;
    object-fit: cover; /* Ensures the image covers the specified area while maintaining aspect ratio */
    border-radius: 10px; /* Optional: To match the border-radius of the card */
  }
  
  #ALUMNIimg {
    width: 100%;
    height: auto;
    object-fit: cover; /* Ensures the image covers the specified area while maintaining aspect ratio */
    border-radius: 10px; /* Optional: To match the border-radius of the card */
  }
  
  .html-skill h4,
  .css-skill h4,
  .bootstrap-skill h4,
  .javascript-skill h4,
  .php-skill h4,
  .mysql-skill h4,
  .react-skill h4,
  .nodejs-skill h4,
  .jquery-skill h4,
  .git-skill h4,
  .postgresql-skill h4 {
    color: #eeeeee;
    font-weight: normal;
  }
  
  .html-skill,
  .css-skill,
  .bootstrap-skill,
  .javascript-skill,
  .php-skill,
  .mysql-skill,
  .react-skill,
  .nodejs-skill,
  .jquery-skill,
  .git-skill,
  .postgresql-skill {
    transition: transform 0.3s ease; /* Adjust the duration and timing function as needed */
  }
  
  .html-skill:hover,
  .css-skill:hover,
  .bootstrap-skill:hover,
  .javascript-skill:hover,
  .php-skill:hover,
  .mysql-skill:hover,
  .react-skill:hover,
  .nodejs-skill:hover,
  .jquery-skill:hover,
  .git-skill:hover,
  .postgresql-skill:hover {
    transform: scale(1.28);
  }
  
  #firstExperience,
  #secondExperience,
  #thirdExperience {
    background-color: #31363f;
    padding: 10px;
  }
  
  #firstExperience h4,
  #secondExperience h4,
  #thirdExperience h4 {
    color: #76abae;
  }
  
  #firstExperience p,
  #firstExperience h5,
  #secondExperience p,
  #secondExperience h5,
  #thirdExperience p,
  #thirdExperience h5 {
    color: #eeeeee;
  }
  
  .vertical-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .vertical-container::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 100%;
    background-color: #76abae;
    top: 0;
    z-index: -1;
  }
  
  .circle-icon {
    width: 65px;
    height: 65px;
    background-color: #76abae;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
    border: 5px solid #eeeeee;
    z-index: 1;
  }
  
  #educationCard {
    background-color: #31363f;
    padding: 10px;
  }

  #educationCard:hover {
    background-color: #3e4451; /* Highlight color */
  }
  
  #educationCard h4,
  #educationCard li,
  #educationCard h5 {
      color: #EEEEEE;
  }

  #email-card,
  #phone-card,
  #location-card {
    background-color: #31363f;
    padding: 10px;
  }

  #email-card:hover,
  #phone-card:hover,
  #location-card:hover {
    background-color: #3e4451; /* Highlight color */
  }

  #email-card i,
  #phone-card i,
  #location-card i {
    font-size: 90px;
    color: #76abae;
  }

  #email-card h2,
  #phone-card h2,
  #location-card h2 {
    letter-spacing: 5px;
    color: #EEEEEE;
  }

  #email-card h5,
  #phone-card h5,
  #location-card h5 {
    color: #76abae;
  }

  #contact-container {
    margin-bottom: 15vh;
  }